html, body {
    margin: 0;
    padding: 0;
}

html {
    width: auto;
    height: auto;   
    
}

body {
    width: auto;
    margin: 0 auto;
    height: auto;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
}

body > input[type="radio"]{
    display: none;
}

.site-wrapper {
    width: auto;
    margin: 0 auto;
    outline: red solid thin;
    background-color: #849d8f;
    background-repeat: no-repeat;
    background-position: 33% -1px;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slide-2.jpg;");
}

.site-wrapper::after {
    background-image: url("../img/slide-3.jpg");
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}
/*Начало стилей слайдера*/
.slider {
    position: relative;
    padding-top: 257px;
    line-height: 1.1;
    text-align: center;
    color: #fff;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 58px;
}

.slide-btn {
    display: inline-block;
    padding: 10px 43px;
    margin-right: 43px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
}

.slide-btn:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 18px;
    left: 4;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    background-color: transparent;
    border: 2px solid #fff;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

.slide {
    display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"]{
    background-color: #fff;
}

#btn-1:hover ~ .site-wrapper label[for="btn-1"],
#btn-2:hover ~ .site-wrapper label[for="btn-2"],
#btn-3:hover ~ .site-wrapper label[for="btn-3"]{
    background-color: rgba(255, 255, 255, 0.3);
}

#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slide-1.jpg");
}

#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slide-2.jpg");
}

#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slide-3.jpg");
}

/*Окончание стилей слайдера */

/*Начало стилей внутренней страницы*/
.inner-body {

    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    outline: red solid thin;
    background-color: #849d8f;
}

.inner-content-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    outline: yellow solid thin;
}

.inner-header {
    display: flex;
    flex-wrap: wrap;
    outline: pink solid thin;
}

.inner-header {
    width: 1160px;
    margin: 0 auto;
    outline: purple solid thin;
}

.inner-menu {
    display: flex;
    margin-left: 11px;
    height: 55px;
    justify-content: flex-start;
    align-items: flex-end;
    outline: orange solid thin;
}

.inner-menu a {
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 7px 16px 6px 11px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.inner-menu span {
    border-bottom: 1px solid #B1C9BC;
}

.inner-menu > .active {
    color: #fff;
    background-color: #D07058;
    border-radius: 20px;
    border-bottom: none;
}

.inner-menu a:hover {
    background-color: #F7F6F3;
    color: #000;
    border-radius: 20px;
}

.inner-menu a:hover .inner-menu span {
   border-bottom: none;
}

.inner-menu a:active {
    background-color: #F7F6F3;
    color: #000;
    border-radius: 20px;
    padding: 7px 9px 6px 10px;
    border-top: 2px solid #696969;
}

.inner-logo {
    display: flex;
    height: 72px;
    align-items: flex-end;
}

.inner-user-block {
    display: flex;
    margin-left: 346px;
    height: 56px;
    
}

.inner-user-container {
    display: flex;
    align-items: flex-end;
    outline: red solid thin;
}

.inner-search {
    font-size: 0;
}

.inner-search-link {
    font-size: 0;
}

.inner-search-link svg {
    width: 23px;
    height: 26px;
    fill: #fff;
    background-color: #A1B4A9;
    padding: 8px 2px 0 9px;
    border-radius: 50%;
    outline: red solid thin;

}

.inner-search-link:hover svg {
    background-color:#F8F7F4;
    fill: #000000;
} 

.log-in {
    display: flex;
    margin-left: 7px;
    padding-right: 20px;
    border-radius: 18px;
    background-color: #9DB1A5;
    color: #fff;
}

.log-in span {
    padding-left: 8px;
    padding-top: 8px;
    font-family: "Roboto Medium";
    font-size: 14px;
    line-height: 16px;

}

.log-in svg {
    fill: #fff;
    padding-left: 16px;
    height: 34px;
    width: 20px;
}

/*.log-in:hover {
    position: relative;
    background-color: #F8F7F4;
    color: #000;
    width: 50px;
    padding: 6px 0px 8px 45px;
   
}

.log-in:hover::before {
    position: absolute;
    content: "";
    background-image: url("../img/spritesheet.png");
    width: 21px;
    height: 19px;
    background-position: -263px -143px;
}

.popup-block {
    display: none;
}

.popup-block {
    position: absolute;
    width: 270px;
    border-radius: 5px;
    background-color: #F8F7F4;
    top: 36px;
    right: 141px;
    padding: 15px 0px 20px 6px;
}

.popup-block input {
    display: block;
    width: 208px;
    border-radius: 5px;
    border: 1px solid #D3D3D2;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-left: 12px;
    padding: 11px 16px 14px 15px;
}

.popup-block .log-in-link {
    float: left;
    width: 52px;
    padding: 11px 25px;
    margin-left: 12px;
    margin-top: 0;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background-image: linear-gradient(#F16642, #E74C36);
}

.popup-block a {
    float: left;
    color: #000;
    font-size: 14px;
    margin: 4px 0px 1px 19px;
}

.log-in:hover ~ .popup-block {
    display: block;
}*/

.inner-basket {
    display: flex;
    margin-left: 10px;
    border-radius: 18px;
    background-color: #F7F6F3;
    
}

.inner-basket .buy {
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 14px;
   
}

.buy svg {
    padding-left: 15px;
    height: 33px;
    width: 20px;
}

.inner-basket span {
    padding-left: 8px;
    padding-top: 7px;
    padding-right: 16px;
    font-weight: bold;
}

.basket {
    position: absolute;
    content: "";
    background-image: url("../img/spritesheet.png");
    width: 21px;
    height: 20px;
    background-position: -15px -15px;
    top: 5px;
    left: 14px;
}

.inner-basket:hover .inner-popap-basket {
    display: block;
}

.inner-popap-basket {
    display: flex;
    position: absolute;
    top: 56px;
    right: 122px;
    border-radius: 5px;
    width: 545px;
    background-color: #F8F7F4;
    margin-top: 5px;
}

.popap-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    outline: blue solid thin;
}

.inner-popap-item {
    display: flex;
    outline: black solid thin;
}

.popap-container .inner-popap-item:nth-of-type(2){
    margin-top: -7px;
}

.inner-popap-item img {
    padding: 16px 9px 0px 43px;
}

.inner-popap-description {
    position: relative;
    width: 220px;
    margin-top: 21px;
    outline: red solid thin;
}

.inner-popap-description::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 15px;
    left: -69px;
    top: 12px;
    background-color: #000;
    transform: rotate(45deg);
}

.inner-popap-description::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 15px;
    left: -70px;
    top: 12px;
    background-color: #000;
    transform: rotate(-45deg);
}

.inner-popap-description,
.inner-netto,
.inner-price,
.price {
    font-size: 13px;
    line-height: 16px;
    font-family: "Roboto";
    padding: 5px 5px 5px 5px;
}

.inner-popap-description span {
    font-weight: bold;
}

.inner-netto {
    margin-top: 20px;
    margin-left: 15px;
    font-weight: bold;
}

.inner-price {
    margin-left: -5px;
    margin-top: 21px;
}

.price {
    margin-top: 20px;
    margin-left: 20px;
}

.results-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
    margin: 0 auto;
    outline: brown solid thin;
}

.in-order {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 13px;
}

.inner-popap-button {
    padding: 9px 13px;
    margin-left: 337px;
    font-size: 18px;
    line-height: 24px;
    width: 173px;
    color: #fff;
    text-decoration: none;
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    border: none;  
}

.inner-popap-button:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.inner-popap-button:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.header-wrapper {
    display: flex;
}

.breadcrumbs-container {
    display: flex;
    justify-content: space-between;
}

.inner-breadcrumbs {
    display: flex;
    position: relative;
    margin-top: 25px;
}

.inner-breadcrumbs a {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding: 1px 8px 5px 0px;
    text-decoration: none;
}

.inner-breadcrumbs a::after {
    content: '\00BB';
    padding-left: 5px;
}

.inner-breadcrumbs span {
    border-bottom: 1px solid #B1C9BC;
}

.inner-breadcrumbs a:last-of-type::after{
    border-bottom: none;
    padding-left: 5px;
    content: "";
}

.information-wrapper {
    display: flex;
    outline: green solid thin;
}

.header-information {
    display: flex;
    outline: yellow solid thin;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 189px;
    margin-left: 737px;
    color: #fff;
}

.header-information .time {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin-top: -1px;
    padding: 0px 0px 0px 26px;
    outline: red solid thin;

}

.header-information .telephone {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin-top: -8px;
    outline: pink solid thin;
    padding: 0px 0px 0px 9px;
}

.is-hidden {
    display: none;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 0 auto;
    outline: yellow solid thin;
}

.inner-sorting {
    display: flex;
    flex-direction: column;
    outline: brown solid thin;
}

.inner-sorting-title {
    font-size: 35px;
    line-height: 41px;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 0px;

}

.sorting-block {
    display: flex;
    outline: white solid thin;
}

.sorting {
    outline: red solid thin;
    display: flex;
    flex-direction: column;
}

.sorting h3 {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 7px;
}

.popular {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popular li {
    color: #fff;
    font-weight: medium;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    padding: 11px 17px 11px 16px;
    background-color: #A9B9AF;
    border-radius: 20px;
}

.popular li svg {
    padding-left: 22px;
    width: 10px;
    height: 12px;
}

.inner-range-filter  {
    outline:  pink solid thin;
    margin-left: 13px;
}

.range-filter-text {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
    margin-top: 25px;
    margin-left: 13px;
}

.range-filter {
    display: flex;
    position: relative;
    width: 220px;
    height: 36px;
    background-color: #A9B9AF;
    border-radius: 20px;
}

.range-filter::before {
    content: "";
    position: absolute;
    width: 177px;
    height: 4px;
    background-color: #D1D9D3;
    top: 16px;
    right: 21px;
}

.range-filter::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 4px;
    background-color: #F8F7F4;
    top: 16px;
    right: 88px;
}

.first-toggle {
    margin-top: 8px;
    margin-left: 34px;
    z-index: 100;
}

.second-toggle {
    margin-top: 8px;
    margin-left: 78px;
    z-index: 100;
}

.fat-content  {
    outline:  green solid thin;
    margin-left: 13px;
}

.fat-content-title {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 24px;
    margin-left: 15px;
    margin-bottom: 7px;
}

.radio-buttons-container {
    display: flex;
    width: 418px;
    height: 36px;
    background-color: #A9B9AF;
    border-radius: 20px;
}

.fat-content-grid {
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.fat-content-grid svg {
    padding: 4px 0px 5px 13px;
    height: 22px;
}

.fat-content-grid label {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    padding: 7px 5px 5px 7px;
}

.fat-content-grid input {
    display: none;
}

.stuffing {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
    outline: red solid thin;
}

.stuffing-title {
    color: #fff;
    font-size: 14px;
    margin-top: 14px;
    margin-left: 17px;
    margin-bottom: 7px;
}

.stuffing-field {
    display: flex;
    justify-content: space-around;
    width: 710px;
    height: 29px;
    padding-bottom: 7px;
    height: 29px;
    background-color: #A9B9AF;
    border-radius: 20px;
}

.stuffing-field input {
    display: none;
}

.stuffing-field label {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    padding: 8px 0px 5px 0px;
}

.stuffing-field svg {
    padding: 8px 0px 5px 7px;
    height: 20px;
}

.stuffing-wrapper {
    display: flex;
}

.apply {
    padding: 4px 20px 4px 29px;
    margin-left: 5px;
    color: #fff;
    border-radius: 20px;
    background-color: #A6B7AD;
    border: 2px solid #FCFCFC;
}

.goods-container {
    display: flex;
    flex-wrap: wrap;
    width: 1172px;
    margin-bottom: 43px;
    outline: skyblue solid thin;
}

.goods-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 293px;
    border-radius: 50%;
    position: relative;
    padding-bottom: 30px;
    outline: white solid thin;
}

.goods-item .goods-item-price {
    position: absolute;
    top: 158px;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0px;
}

.goods-item-price span {
    font-size: 30px;
    font-weight: bold;
}

.goods-item-text {
    align-self: center;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.goods-item-text span {
    border-bottom: 1px solid #B1C9BC;
}

.paginator {
    width: 200px;
    outline: red solid thin;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    align-items: center;
}

.paginator .prev {
    transform: rotate(180deg);
    padding-left: 14px;
    padding-bottom: 6px;
}

.paginator a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    width: 15px;
    height: 15px;
    text-decoration: none;
    padding: 4px 4px 6px 9px;
    margin-right: 1px;
}

.paginator .active {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.paginator .next {
    padding: 10px 5px 5px 13px;
}

.paginator a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.paginator svg {
    fill: #C1C6CE;
}

.paginator svg:hover {
    fill: #fff;
}

.inner-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    border-top: 1px solid #A9BBB1;
    padding-top: 18px;
    outline: purple solid thin;
}

.inner-footer-social {
    display: flex;
    justify-content: space-around;
    outline: skyblue solid thin;
    width: 195px;
    padding-top: 12px;
}

.inner-footer-social a {
    font-size: 0;
}

.inner-footer-social svg {
    fill: #E6EBE9;
    border: 2px solid #C2CEC7;
    border-radius: 50%;
    margin-top: 7px;
}

.inner-footer-social svg:hover {
    fill: #fff;
    border-color: #DAE2DE;
}

.inner-footer-social svg:active {
    fill: #E9E9E9;
    border-color: #DAE2DE;
}

.inner-footer-menu {
    outline: red solid thin;
    width: 338px;
    max-height: 50px;
    margin-left: -15px;
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.inner-footer-menu a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 5px 0px 0px 23px;
}

.inner-footer-menu .active {
    font-weight: bold;
}

.inner-footer-menu svg {
    position: absolute;
    padding: 5px 0px 0px 1px;
}

.inner-made-in {
    display: flex;
    margin-right: 12px;
    outline: yellow solid thin;
    flex-direction: column;
}

.inner-made-in svg {
    height: 40px;
    width: 105px;
    margin-left: 80px;
}

.made-in-description {
    outline: blue solid thin;
    color: #DDE4E0;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}

.link-htmlacademy {
    text-decoration: none;
    color: #DDE4E0;
    border-bottom: 1px solid #B1C9BC;
}












/*
.logo {
    float: left;
    margin-top: 9px;
}

.main-menu {
    float: left;
    width: 490px;
    margin-left: 10px;
    margin-top: 28px;
    vertical-align: top;
}

.is-hidden {
    display: none;
}

.main-menu a {
    position: relative;
    display: inline;
    color: #fff;
    text-decoration: none;
    padding: 7px 9px 6px 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    border-radius: 20px;
}

.main-menu a:hover {
    background-color: #F7F6F3;
    color: #000;
}

.main-menu span {
    border-bottom: 1px solid #B1C9BC;
}

.main-menu a:hover .main-menu span {/*почему селектор не работает?*/
 /*   border-bottom: none;
}

.main-menu a:active {
    background-color: #F7F6F3;
    color: #000;
    border-radius: 20px;
    padding: 7px 9px 6px 10px;
    border-top: 2px solid #696969;
}

.new {
    display: none;
    position: absolute;
    list-style: none;
    width: 143px;
    padding: 0;
    background-color: #F7F6F3;
    color: #000;
    margin-left: -8px;
    margin-top: 12px;
    border-radius: 5px;
}

.new li:first-child {
    border-bottom: 1px solid #D1D0CE;
    padding-top: 9px;
    padding-bottom: 11px;
    font-weight: bold;
}
.new li:last-child {
    padding-bottom: 12px;
}

.new li {
    display: block;
    font-size: 14px;
    padding: 9px 18px 7px 20px;
}

.new li:hover {
    background-color: #FBDED8;
    border-radius: 5px;

}

.new li:active {
    background-color: #F6B5A5;
}

.new .active {
    background-color: #D07058;
    color: #fff;
}

.catalog:hover .new {
    display: block;

} 

.user-block {
    position: relative;
    float: right;
    width: 277px;
    height: 60px;
    margin-top: 23px;
    margin-right: 37px;
}

.search {
    float: left;
    font-size: 0;
}

.search-link {
    float: left;
    font-size: 0;
    width: 32px;
    height: 32px;
    background-color: #A1B5AA;
    background-image: url("../img/spritesheet.png");
    background-position: -306px -178px;
    border-radius: 50%;
}

.search-link:hover {
    width: 32px;
    height: 32px;
    background-color: #F8F7F4;
    background-image: url("../img/spritesheet.png");
    background-position: -354px -178px;
} 

.search-block {
    display: none;
}

.search:hover ~ .search-block {
    display: block;
}

.search-block {
    position: absolute;
    width: 326px;
    height: 69px;
    background-color: #F8F7F4;
    top: 36px;
    right: 244px;
    border-radius: 5px;
    padding: 15px 0px 0px 15px;
}

.search-block input {
    width: 280px;
    border-radius: 5px;
    border: 1px solid #D3D3D2;
    margin-top: 6px;
    padding: 10px 16px 14px 13px;
}

.log-in {
    position: relative;
    float: left;
    margin-left: 10px;
    width: 50px;
    border-radius: 18px;
    padding: 6px 0px 8px 45px;
    background-color: #9DB1A5;
    color: #fff;
}

.log-in::before {
    position: absolute;
    content: "";
    background-image: url("../img/icons/log-in.png");
    width: 21px;
    height: 19px;
    top: 6px;
    left: 16px;
}

.log-in:hover {
    position: relative;
    background-color: #F8F7F4;
    color: #000;
    width: 50px;
    padding: 6px 0px 8px 45px;
   
}

.log-in:hover::before {
    position: absolute;
    content: "";
    background-image: url("../img/spritesheet.png");
    width: 21px;
    height: 19px;
    background-position: -263px -143px;
}

.popup-block {
    display: none;
}

.popup-block {
    position: absolute;
    width: 270px;
    border-radius: 5px;
    background-color: #F8F7F4;
    top: 36px;
    right: 141px;
    padding: 15px 0px 20px 6px;
}

.popup-block input {
    display: block;
    width: 208px;
    border-radius: 5px;
    border: 1px solid #D3D3D2;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-left: 12px;
    padding: 11px 16px 14px 15px;
}

.popup-block .log-in-link {
    float: left;
    width: 52px;
    padding: 11px 25px;
    margin-left: 12px;
    margin-top: 0;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background-image: linear-gradient(#F16642, #E74C36);
}

.popup-block a {
    float: left;
    color: #000;
    font-size: 14px;
    margin: 4px 0px 1px 19px;
}

.log-in:hover ~ .popup-block {
    display: block;
}

.basket {
    position: relative;
    float: left;
    margin-left: 10px;
    width: 50px;
    border-radius: 18px;
    padding: 6px 21px 8px 43px;
    background-color: #9DB1A5;
    
}

.basket a {
    text-decoration: none;
    color: #fff;
}

.basket::before {
    position: absolute;
    content: "";
    background-image: url("../img/spritesheet.png");
    width: 21px;
    height: 20px;
    background-position: -15px -15px;
    top: 5px;
    left: 14px;
}

.header-information {
    float: right;
    color: #fff;
}

.header-information .time {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 12px 5px 0px 28px;

}

.header-information .telephone {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0px 21px 5px 15px;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.offers-container {
    padding-top: 42px;
}

.offer-card {
    display: inline-block;
    width: 560px;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 5px;
    padding-bottom: 23px;
}

.offers-container .raspberry {
    background-image: url("../img/raspberry.jpg");
    background-repeat: no-repeat;
}

.offers-container .chocolate {
    background-image: url("../img/chocolate.jpg");
    background-repeat: no-repeat;
}

.offer-title {
    display: inline-block;
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    color: #fff;
    margin: 15px 0 20px 18px;
}

.offer-text {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0 23px 20px;
    color: #fff;
}

.offer-btn {
    float: right;
    padding: 12px 24px;
    margin-right: 19px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
}

.offer-btn:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.offer-btn:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.popular-goods {
    display: inline-block;
    margin-top: 30px;
}

.photo {
    padding-top: 11px;
    padding-left: 5px;
}

.photo > img {
    border-radius: 50%;
}

.photo::before {
    position: absolute;
    content: "";
    background-image: url("../img/popular.png");
    background-repeat: no-repeat;
    width: 61px;
    height: 61px;
    top: 10px;
    left: 6px;
}

.popular-goods-container {
    position: relative;
    display: inline-block;
    width: 292px;
    margin-right: -4px;

}

.popular-goods-container:hover {
    background-color: #9BAFA3;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.popular-goods-container:hover .popular-btn{
    display: block;
}

.popular-goods-price {
    position: absolute;
    display: inline-block;
    color: #fff;
    bottom: 95px;
    left: 5px;
    font-weight: bold;
    font-size: 45px;
}

.popular-goods-description {
    display: inline-block;
    color: #fff;
    text-align: center;
    margin-top: 3px;
    padding-bottom: 64px;
}

.popular-btn {
    position: absolute;
    float: right;
    bottom: 23px;
    padding: 9px 14px;
    margin-left: 40px;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
}

.popular-btn {
    display: none;
}

.popular-btn:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.popular-btn:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.features {
    background-image: url("../img/waffle-pattern.png");
    background-repeat: repeat;
    margin-top: -37px;
    margin-left: 5px;
    padding: 20px 0 22px 20px;
    border-radius: 20px;
    
}

.features-title {
    display: block;
    width: 1120px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    padding-top: 5px;

}

.feature-topic {
    position: relative;
    display: inline-block;
    width: 504px;
    padding-left: 56px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 22px;
    vertical-align: top;
}

.features .ice-cream::before {
    position: absolute;
    content: "";
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    background-position: -122px -94px;
    top: -12px;
    left: 0px;
}

.features .cow::before {
    position: absolute;
    content: "";
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    background-position: -210px -15px;
    top: -12px;
    left: 0px;
}

.features .leaf::before {
    position: absolute;
    content: "";
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    background-position: -15px -156px;
    top: -14px;
    left: 0px;
}

.features .thermometer::before {
    position: absolute;
    content: "";
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    background-position:  -224px -232px;
    top: -14px;
    left: 0px;
}

.info-wrapper {
    margin-top: 39px;

}

.new-info {
    display: inline-block;
    background-image: url("../img/strawberry-background.png");
    background-repeat: no-repeat;
    width: 540px;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 16px;
    padding: 4px 0 25px 20px;
}

.new-info-title {
    margin-bottom: 6px;
}

.new-info-link {
    display: inline-block;
    width: 308px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000;
    margin-bottom: 56px;
}

.subscribe {
    display: inline-block;
    background-image: url("../img/envelope.png");
    background-repeat: no-repeat;
    width: 540px;
    margin-left: 5px;
    padding: 20px 0 22px 20px;
}

.subscribe-text {
    width: 510px;
    margin-top: 12px;
    margin-left: 6px;
}

.subscribe input {
    width: 352px;
    padding: 12px 0 11px 13px;
    margin: 1px 0 20px 7px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #D3D3D2;
}

.subscribe .btn {
    padding: 9px 14px;
    margin-left: 9px;
    letter-spacing: 1px;
    border: none;
    line-height: 24px;
    vertical-align: top;
    color: #fff;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
}

.map-block {
    width: auto;
    position: relative;
    margin-top: 40px;
}

.map {
    width: 100%;

}

.map-block::before {
    position: absolute;
    content: "";
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 140px;
    background-position: -314px -15px;
    top: 170px;
    left: 300px;
}

.contacts-container {
    position: absolute;
    float: left;
    width: 305px;
    background-color: #fff;
    border-radius: 20px;
    top: 61px;
    right: 116px;
}

.contacts-wrapper {
    display: inline-block;
    padding-left: 25px;
}

.contacts-container .contacts-text {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    width: 157px;
    margin-top: 30px;
    margin-bottom: 0;
}

.contacts-adress {
    display: inline-block;
    width: 260px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 1px;
}

.contacts-note {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    width: 175px;
    margin-bottom: 6px;
}

.contacts-container .telephone {
    display: inline-block;
    width: 260px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.comment {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    width: 160px;
    margin-bottom: 24px;
    margin-top: 0;
}

.feedback {
    display: inline-block;
    padding: 9px 31px;
    line-height: 24px;
    vertical-align: top;
    color: #fff;
    margin-bottom: 32px;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
}

.feedback:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.footer {
    width: auto;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
}

.footer-social {
    float: left;
    width: 265px;
    margin-top: 36px;
    margin-left: 28px;
    vertical-align: top;
}

.social-btn {
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 14px;
    vertical-align: middle;
    border: 2px solid #C2CEC7;
    border-radius: 50%;
    font-size: 0;
}

.social-btn:hover {
    border-color: #DAE2DE;
}

.social-btn:active {
    background-color: #E9E9E9;
    border-color: #D0D9D4;
    background-color: transparent;
}

.social-btn-twitter {
    background-image: url("../img/spritesheet.png");
    width: 32px;
    height: 32px;
    background-position: -303px -232px;
}

.social-btn-instagram {
    background-image: url("../img/spritesheet.png");
    width: 32px;
    height: 32px;
    background-position: -201px -94px;
}

.social-btn-facebook {
    background-image: url("../img/spritesheet.png");
    width: 32px;
    height: 32px;
    background-position: -15px -94px;
}

.social-btn-vkontakte {
    background-image: url("../img/spritesheet.png");
    width: 32px;
    height: 32px;
    background-position: -15px -294px;
}

.footer-menu {
    position: relative;
    float: left;
    width: 370px;
    margin-left: 133px;
    margin-top: 31px;
    padding-left: 20px;
}

.footer-menu a {
    display: inline-block;
    min-width: 140px;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
}

.footer-menu .active-link {
    font-weight: bold;
}

.footer-menu .active-link::before {
    content: "";
    position: absolute;
    background-image: url("../img/spritesheet.png");
    width: 15px;
    height: 13px;
    top: 6px;
    left: 1px;
    background-position: -77px -94px;
}

.footer-made-in {
    float: right;
    width: 200px;
    margin-right: 17px;
}

.footer-made-in img {
    margin-top: 18px;
    margin-left: 2px;
}

.made-in-description {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    margin-top: 0;
}



*/

