html, body {
    margin: 0;
    padding: 0;
}

html {
    width: auto;
    height: auto;   
    
}

body {
    width: auto;
    margin: 0 auto;
    height: auto;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
}

body > input[type="radio"]{
    display: none;
}

.site-wrapper {
    width: auto;
    margin: 0 auto;
    outline: red solid thin;
    background-color: #849d8f;
    background-repeat: no-repeat;
    background-position: 46% -8px;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slide-2.jpg;");
}

.site-wrapper::after {
    background-image: url("../img/slide-3.jpg");
}

.content-wrapper {
    outline: yellow solid thin;
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;

}
/*Начало стилей слайдера*/
.slider {
    outline: green solid thin;
    position: relative;
    padding-top: 242px;
    line-height: 1.1;
    text-align: center;
    color: #fff;
}

.title-container {
    display: flex;
    width: 1160px;
    align-items: center;
    flex-direction: column;
}

.slide-title {
    outline: white solid thin;
    width: 685px;
    margin-left: -14px;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 58px;
    letter-spacing: 1px;
}

.slide-btn {
    outline: yellow solid thin;
    padding: 10px 42px;
    margin-right: 14px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
}

.slide-btn:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    outline: yellow solid thin;
    position: absolute;
    bottom: 21px;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    outline: white solid thin;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    background-color: transparent;
    border: 2px solid #fff;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

.slide {
    display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"]{
    background-color: #fff;
}

#btn-1:hover ~ .site-wrapper label[for="btn-1"],
#btn-2:hover ~ .site-wrapper label[for="btn-2"],
#btn-3:hover ~ .site-wrapper label[for="btn-3"]{
    background-color: rgba(255, 255, 255, 0.3);
}

#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slide-1.jpg");
}

#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slide-2.jpg");
}

#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slide-3.jpg");
}

/*Окончание стилей слайдера */

/*Начало стилей внутренней страницы*/
.inner-body {

    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    outline: red solid thin;
    background-color: #849d8f;
}

.inner-content-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    outline: yellow solid thin;
}

.inner-header {
    display: flex;
    flex-wrap: wrap;
    outline: pink solid thin;
}

.inner-header {
    width: 1160px;
    margin: 0 auto;
    outline: purple solid thin;
}

.inner-menu {
    display: flex;
    margin-left: 11px;
    height: 55px;
    justify-content: flex-start;
    align-items: flex-end;
    outline: orange solid thin;
}

.inner-menu a {
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 7px 16px 6px 11px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.inner-menu span {
    border-bottom: 1px solid #B1C9BC;
}

.inner-menu > .active {
    color: #fff;
    background-color: #D07058;
    border-radius: 20px;
    border-bottom: none;
}

.inner-menu a:hover {
    background-color: #F7F6F3;
    color: #000;
    border-radius: 20px;
}

.inner-menu a:hover .inner-menu span {
   border-bottom: none;
}

.inner-menu a:active {
    background-color: #F7F6F3;
    color: #000;
    border-radius: 20px;
    padding: 7px 9px 6px 10px;
    border-top: 2px solid #696969;
}

.inner-logo {
    display: flex;
    height: 72px;
    align-items: flex-end;
}

.inner-user-block {
    display: flex;
    margin-left: 346px;
    height: 56px;
    
}

.inner-user-container {
    display: flex;
    align-items: flex-end;
    outline: red solid thin;
}

.inner-search {
    font-size: 0;
}

.inner-search-link {
    font-size: 0;
}

.inner-search-link svg {
    width: 23px;
    height: 26px;
    fill: #fff;
    background-color: #A1B4A9;
    padding: 8px 2px 0 9px;
    border-radius: 50%;
    outline: red solid thin;

}

.inner-search-link:hover svg {
    background-color:#F8F7F4;
    fill: #000000;
} 

.inner-log-in {
    display: flex;
    margin-left: 7px;
    padding-right: 20px;
    border-radius: 18px;
    background-color: #9DB1A5;
    color: #fff;
}

.inner-log-in span {
    padding-left: 8px;
    padding-top: 8px;
    font-family: "Roboto Medium";
    font-size: 14px;
    line-height: 16px;

}

.inner-log-in svg {
    fill: #fff;
    padding-left: 16px;
    height: 34px;
    width: 20px;
}

/*.log-in:hover {
    position: relative;
    background-color: #F8F7F4;
    color: #000;
    width: 50px;
    padding: 6px 0px 8px 45px;
   
}

.log-in:hover::before {
    position: absolute;
    content: "";
    background-image: url("../img/spritesheet.png");
    width: 21px;
    height: 19px;
    background-position: -263px -143px;
}

.popup-block {
    display: none;
}

.popup-block {
    position: absolute;
    width: 270px;
    border-radius: 5px;
    background-color: #F8F7F4;
    top: 36px;
    right: 141px;
    padding: 15px 0px 20px 6px;
}

.popup-block input {
    display: block;
    width: 208px;
    border-radius: 5px;
    border: 1px solid #D3D3D2;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-left: 12px;
    padding: 11px 16px 14px 15px;
}

.popup-block .log-in-link {
    float: left;
    width: 52px;
    padding: 11px 25px;
    margin-left: 12px;
    margin-top: 0;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background-image: linear-gradient(#F16642, #E74C36);
}

.popup-block a {
    float: left;
    color: #000;
    font-size: 14px;
    margin: 4px 0px 1px 19px;
}

.log-in:hover ~ .popup-block {
    display: block;
}*/

.inner-basket {
    display: flex;
    margin-left: 10px;
    border-radius: 18px;
    background-color: #F7F6F3;
    
}

.inner-basket .buy {
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 14px;
   
}

.buy svg {
    padding-left: 15px;
    height: 33px;
    width: 20px;
}

.inner-basket span {
    padding-left: 8px;
    padding-top: 7px;
    padding-right: 16px;
    font-weight: bold;
}

.inner-basket:hover .inner-popap-basket {
    display: block;
}

.inner-popap-basket {
    display: flex;
    position: absolute;
    top: 56px;
    right: 122px;
    border-radius: 5px;
    width: 545px;
    background-color: #F8F7F4;
    margin-top: 5px;
}

.inner-popap-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    outline: blue solid thin;
}

.inner-popap-item {
    display: flex;
    outline: black solid thin;
}

.inner-popap-container .inner-popap-item:nth-of-type(2){
    margin-top: -7px;
}

.inner-popap-item img {
    padding: 16px 9px 0px 43px;
}

.inner-popap-description {
    position: relative;
    width: 220px;
    margin-top: 21px;
    outline: red solid thin;
}

.inner-popap-description::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 15px;
    left: -69px;
    top: 12px;
    background-color: #000;
    transform: rotate(45deg);
}

.inner-popap-description::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 15px;
    left: -70px;
    top: 12px;
    background-color: #000;
    transform: rotate(-45deg);
}

.inner-popap-description,
.inner-netto,
.inner-price,
.price {
    font-size: 13px;
    line-height: 16px;
    font-family: "Roboto";
    padding: 5px 5px 5px 5px;
}

.inner-popap-description span {
    font-weight: bold;
}

.inner-netto {
    margin-top: 20px;
    margin-left: 15px;
    font-weight: bold;
}

.inner-price {
    margin-left: -5px;
    margin-top: 21px;
}

.common-price {
    margin-top: 20px;
    margin-left: 20px;
}

.results-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
    margin: 0 auto;
    outline: brown solid thin;
}

.in-order {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 13px;
}

.inner-popap-button {
    padding: 9px 13px;
    margin-left: 337px;
    font-size: 18px;
    line-height: 24px;
    width: 173px;
    color: #fff;
    text-decoration: none;
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    border: none;  
}

.inner-popap-button:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.inner-popap-button:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.inner-header {
    display: flex;
}

.breadcrumbs-container {
    display: flex;
    justify-content: space-between;
}

.inner-breadcrumbs {
    display: flex;
    position: relative;
    margin-top: 25px;
}

.inner-breadcrumbs a {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding: 1px 8px 5px 0px;
    text-decoration: none;
}

.inner-breadcrumbs a::after {
    content: '\00BB';
    padding-left: 5px;
}

.inner-breadcrumbs span {
    border-bottom: 1px solid #B1C9BC;
}

.inner-breadcrumbs a:last-of-type::after{
    border-bottom: none;
    padding-left: 5px;
    content: "";
}

.information-wrapper {
    display: flex;
    outline: green solid thin;
}

.inner-shedule {
    display: flex;
    outline: yellow solid thin;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 189px;
    margin-left: 737px;
    color: #fff;
}

.inner-shedule .time {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin-top: -1px;
    padding: 0px 0px 0px 26px;
    outline: red solid thin;

}

.inner-shedule .telephone {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin-top: -8px;
    outline: pink solid thin;
    padding: 0px 0px 0px 9px;
}

.is-hidden {
    display: none;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 0 auto;
    outline: yellow solid thin;
}

.inner-sorting {
    display: flex;
    flex-direction: column;
    outline: brown solid thin;
}

.inner-sorting-title {
    font-size: 35px;
    line-height: 41px;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 0px;

}

.sorting-container {
    display: flex;
    outline: white solid thin;
}

.sorting {
    outline: red solid thin;
    display: flex;
    flex-direction: column;
}

.sorting h3 {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 7px;
}

.popular {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popular li {
    color: #fff;
    font-weight: medium;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    padding: 11px 17px 11px 16px;
    background-color: #A9B9AF;
    border-radius: 20px;
}

.popular li svg {
    padding-left: 22px;
    width: 10px;
    height: 12px;
}

.inner-range-filter  {
    outline:  pink solid thin;
    margin-left: 13px;
}

.range-filter-text {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
    margin-top: 25px;
    margin-left: 13px;
}

.range-filter {
    display: flex;
    position: relative;
    width: 220px;
    height: 36px;
    background-color: #A9B9AF;
    border-radius: 20px;
}

.range-filter::before {
    content: "";
    position: absolute;
    width: 177px;
    height: 4px;
    background-color: #D1D9D3;
    top: 16px;
    right: 21px;
}

.range-filter::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 4px;
    background-color: #F8F7F4;
    top: 16px;
    right: 88px;
}

.first-toggle {
    margin-top: 8px;
    margin-left: 34px;
    z-index: 100;
}

.second-toggle {
    margin-top: 8px;
    margin-left: 78px;
    z-index: 100;
}

.fat-content  {
    outline:  green solid thin;
    margin-left: 13px;
}

.fat-content-title {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 24px;
    margin-left: 15px;
    margin-bottom: 7px;
}

.radio-buttons-container {
    display: flex;
    width: 418px;
    height: 36px;
    background-color: #A9B9AF;
    border-radius: 20px;
}

.fat-content-grid {
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.fat-content-grid svg {
    padding: 4px 0px 5px 13px;
    height: 22px;
}

.fat-content-grid label {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    padding: 7px 5px 5px 7px;
}

.fat-content-grid input {
    display: none;
}

.stuffing {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
    outline: red solid thin;
}

.stuffing-title {
    color: #fff;
    font-size: 14px;
    margin-top: 14px;
    margin-left: 17px;
    margin-bottom: 7px;
}

.stuffing-field {
    display: flex;
    justify-content: space-around;
    width: 710px;
    height: 29px;
    padding-bottom: 7px;
    height: 29px;
    background-color: #A9B9AF;
    border-radius: 20px;
}

.stuffing-field input {
    display: none;
}

.stuffing-field label {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    padding: 8px 0px 5px 0px;
}

.stuffing-field svg {
    padding: 8px 0px 5px 7px;
    height: 20px;
}

.stuffing-wrapper {
    display: flex;
}

.apply {
    padding: 4px 20px 4px 29px;
    margin-left: 5px;
    color: #fff;
    border-radius: 20px;
    background-color: #A6B7AD;
    border: 2px solid #FCFCFC;
}

.goods-container {
    display: flex;
    flex-wrap: wrap;
    width: 1172px;
    margin-bottom: 43px;
    outline: skyblue solid thin;
}

.goods-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 293px;
    border-radius: 50%;
    position: relative;
    padding-bottom: 30px;
    outline: white solid thin;
}

.goods-item .goods-item-price {
    position: absolute;
    top: 158px;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0px;
}

.goods-item-price span {
    font-size: 30px;
    font-weight: bold;
}

.goods-item-text {
    align-self: center;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.goods-item-text span {
    border-bottom: 1px solid #B1C9BC;
}

.paginator {
    width: 200px;
    outline: red solid thin;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    align-items: center;
}

.paginator .prev {
    transform: rotate(180deg);
    padding-left: 14px;
    padding-bottom: 6px;
}

.paginator a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    width: 15px;
    height: 15px;
    text-decoration: none;
    padding: 4px 4px 6px 9px;
    margin-right: 1px;
}

.paginator .active {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.paginator .next {
    padding: 10px 5px 5px 13px;
}

.paginator a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.paginator svg {
    fill: #C1C6CE;
}

.paginator svg:hover {
    fill: #fff;
}

.inner-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    border-top: 1px solid #A9BBB1;
    padding-top: 18px;
    outline: purple solid thin;
}

.inner-footer-social {
    display: flex;
    justify-content: space-around;
    outline: skyblue solid thin;
    width: 195px;
    padding-top: 12px;
}

.inner-footer-social a {
    font-size: 0;
}

.inner-footer-social svg {
    fill: #E6EBE9;
    border: 2px solid #C2CEC7;
    border-radius: 50%;
    margin-top: 7px;
}

.inner-footer-social svg:hover {
    fill: #fff;
    border-color: #DAE2DE;
}

.inner-footer-social svg:active {
    fill: #E9E9E9;
    border-color: #DAE2DE;
}

.inner-footer-menu {
    outline: red solid thin;
    width: 338px;
    max-height: 50px;
    margin-left: -15px;
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.inner-footer-menu a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 5px 0px 0px 23px;
}

.inner-footer-menu .active {
    font-weight: bold;
}

.inner-footer-menu svg {
    position: absolute;
    padding: 5px 0px 0px 1px;
}

.made-in-card {
    display: flex;
    margin-right: 12px;
    outline: yellow solid thin;
    flex-direction: column;
}

.made-in-card svg {
    height: 40px;
    width: 105px;
    margin-left: 80px;
}

.inner-made-in {
    outline: blue solid thin;
    color: #DDE4E0;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}

.inner-link-htmlacademy {
    text-decoration: none;
    color: #DDE4E0;
    border-bottom: 1px solid #B1C9BC;
} 
/*Конец стилей внутренней страницы*/

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin: 0 auto;
    outline: purple solid thin;
}

.wrapper {
    outline: gold solid thin;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1160px;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
    outline: purple solid thin;
}

.logo {
    outline: red solid thin;
    margin-top: 8px;
    margin-right: 13px;
}

.main-menu {
    display: flex;
    outline: blue solid thin;
    margin-right: 339px;
    margin-top: 16px;
}

.is-hidden {
    display: none;
}

.main-menu a {
    outline: pink solid thin;
    color: #fff;
    text-decoration: none;
    padding: 7px 9px 6px 11px;
    margin-right: 7px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    border-radius: 20px;
}

.main-menu a:hover {
    background-color: #F7F6F3;
    color: #000;
}

.main-menu span {
    border-bottom: 1px solid #B1C9BC;
}

.main-menu a:hover .main-menu span {/*почему селектор не работает?*/
    border-bottom: none;
}

.main-menu a:active {
    background-color: #F7F6F3;
    color: #000;
    border-radius: 20px;
    padding: 7px 9px 6px 10px;
    border-top: 2px solid #696969;
}

.new {
    display: none;
    position: absolute;
    list-style: none;
    width: 143px;
    padding: 0;
    background-color: #F7F6F3;
    color: #000;
    margin-left: -8px;
    margin-top: 12px;
    border-radius: 5px;
}

.new li:first-child {
    border-bottom: 1px solid #D1D0CE;
    padding-top: 9px;
    padding-bottom: 11px;
    font-weight: bold;
}
.new li:last-child {
    padding-bottom: 12px;
}

.new li {
    display: block;
    font-size: 14px;
    padding: 9px 18px 7px 20px;
}

.new li:hover {
    background-color: #FBDED8;
    border-radius: 5px;

}

.new li:active {
    background-color: #F6B5A5;
}

.new .active {
    background-color: #D07058;
    color: #fff;
}

.catalog:hover .new {
    display: block;

} 

.user-block {
    display: flex;
    outline: gold solid thin;
    width: 276px;
    margin-top: 14px;
}

.search {
    outline: yellow solid thin;
    font-size: 0;
}

.search-link {
    outline: red solid thin;
    font-size: 0;
}

.search-link svg {
    width: 23px;
    height: 26px;
    fill: #fff;
    background-color: #A1B4A9;
    padding: 8px 2px 0 9px;
    border-radius: 50%;
    outline: red solid thin;
}

.search-block {
    outline: white solid thin;
    display: none;
}

.search:hover ~ .search-block {
    display: block;
}

.search {
    outline: blue solid thin;
    
}

.search-block input {
    width: 280px;
    border-radius: 5px;
    border: 1px solid #D3D3D2;
    margin-top: 6px;
    padding: 10px 16px 14px 13px;
}

.log-in {
    outline: yellow solid thin;
    display: flex;
    margin-left: 9px;
    padding-right: 20px;
    border-radius: 18px;
    background-color: #9DB1A5;
    color: #fff;
}

.log-in span {
    padding-left: 8px;
    padding-top: 8px;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.log-in svg {
    fill: #fff;
    padding-left: 16px;
    height: 34px;
    width: 20px;
}

.popup-block {
    display: none;
}

.popup-block {
    position: absolute;
    width: 270px;
    border-radius: 5px;
    background-color: #F8F7F4;
    top: 36px;
    right: 141px;
    padding: 15px 0px 20px 6px;
}

.popup-block input {
    display: block;
    width: 208px;
    border-radius: 5px;
    border: 1px solid #D3D3D2;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-left: 12px;
    padding: 11px 16px 14px 15px;
}

.popup-block .log-in-link {
    float: left;
    width: 52px;
    padding: 11px 25px;
    margin-left: 12px;
    margin-top: 0;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background-image: linear-gradient(#F16642, #E74C36);
}

.popup-block a {
    float: left;
    color: #000;
    font-size: 14px;
    margin: 4px 0px 1px 19px;
}

.log-in:hover ~ .popup-block {
    display: block;
}

.basket {
    display: flex;
    margin-left: 7px;
    padding-right: 17px;
    border-radius: 18px;
    background-color: #9DB1A5;
    
}

.basket .buy {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
   
}

.buy svg {
    fill: #fff;
    padding-left: 15px;
    height: 33px;
    width: 20px;
}

.basket span {
    padding-left: 8px;
    padding-top: 7px;
    padding-right: 16px;
    font-weight: 600;
}


.info-wrapper {
    outline: yellow solid thin;
    display: flex;
    justify-content: flex-end;
    width: 1160px;
}

.shedule {
    display: flex;
    outline: yellow solid thin;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 189px;
    margin-left: 737px;
    color: #fff;
}

.info-wrapper .time {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin-top: -5px;
    padding: 0px 15px 0px 20px;
    outline: red solid thin;
}

.info-wrapper .telephone {
    outline: green solid thin;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin-top: -8px;
    padding: 0px 9px 0px 5px;
}    

.main-container {
    display: flex;
    flex-direction: column;
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    outline: yellow solid thin;
}

.offers-container {
    display: flex;
    outline: white solid thin;
    padding-top: 42px;
}

.offer-card {
    display: flex;
    flex-direction: column;
    outline: green solid thin;
    width: 560px;
    border-radius: 15px;
    margin-right: 15px;
    padding-bottom: 23px;
}

.offers-container .raspberry {
    outline: gold solid thin;
    background-image: url("../img/raspberry.jpg");
    background-repeat: no-repeat;
}

.offers-container .chocolate {
    margin-left: 11px;
    outline: pink solid thin;
    background-image: url("../img/chocolate.jpg");
    background-repeat: no-repeat;
}

.offer-title {
    outline: orange solid thin;
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    color: #fff;
    margin: 17px 0px 0px 18px;
}

.offer-text {
    outline: yellow solid thin;
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0 43px 19px;
    color: #fff;
}

.offer-btn {
    outline: red solid thin;
    align-self: flex-end;
    padding: 12px 24px;
    margin-right: 19px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
}

.offer-btn:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.offer-btn:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.popular-goods {
    outline: yellow solid thin;
    display: flex;
    margin-top: 30px;
   
}

.photo {
    display: flex;
    flex-direction: column;
    outline: white solid thin;
}

.photo .hit {
    align-self: flex-start;
    padding-top: 10px;
    position: absolute;
}

.photo > img {
    border-radius: 50%;
    padding-top: 10px;
}

.popular-goods-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 293px;
    border-radius: 50%;
    position: relative;
    padding-bottom: 30px;
    padding-right: 26px;
    outline: white solid thin;
}

.popular-goods-container:hover {
    background-color: #9BAFA3;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.popular-goods-container:hover .popular-btn{
    display: block;
}

.popular-goods-price {
    outline: white solid thin;
    position: absolute;
    top: 168px;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0px;
}

.popular-goods-price span {
    font-size: 30px;
    font-weight: bold;
}

.popular-goods-description {
    align-self: center;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popular-goods-description span {
    border-bottom: 1px solid #B1C9BC;
}

.popular-btn {
    outline: pink solid thin;
    position: absolute;
    bottom: 23px;
    padding: 9px 14px;
    margin-left: 40px;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
}

.popular-btn {
    display: none;
}

.popular-btn:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.popular-btn:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.features {
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: space-around;
    width: 1149px;
    outline: green solid thin;
    background-image: url("../img/waffle-background.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 39px;
    
}

.features-title {
    outline: red solid thin;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    padding-top: 23px;
    padding-left: 19px;

}

.feature-topic {
    outline: pink solid thin;
    width: 456px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin: 24px 13px 2px 0px;
    padding-left: 50px;
}

.features img {
    outline: purple solid thin;
    position: absolute;
    margin-top: -14px;
    margin-left: -55px;
}

.info-container {
    outline: yellow solid thin;
    display: flex;
    justify-content: flex-start;
    width: 1160px;
}

.new-info {
    outline: green solid thin;
    display: inline-block;
    background-image: url("../img/strawberry-background.png");
    background-repeat: no-repeat;
    width: 540px;
    vertical-align: top;
   
    margin-right: 22px;
    padding: 4px 0 25px 20px;
}

.new-info-title {
    outline: purple solid thin;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.new-info-link {
    outline: blue solid thin;
    display: inline-block;
    width: 308px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000;
    margin-bottom: 56px;
}

.subscribe {
    outline: yellow solid thin;
    display: inline-block;
    background-image: url("../img/envelope.png");
    background-repeat: no-repeat;
    width: 540px;
    margin-left: 5px;
    padding: 20px 0 22px 20px;
}

.subscribe-text {
    outline: skyblue solid thin;
    width: 510px;
    margin-top: 12px;
    margin-left: 6px;
    font-size: 16px;
    line-height: 22px;
}

.subscribe input {
    outline: brown solid thin;
    width: 352px;
    padding: 12px 0 11px 13px;
    margin: 1px 0 20px 7px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #D3D3D2;
}

.subscribe .btn {
    outline: red solid thin;
    padding: 9px 14px;
    margin-left: 9px;
    letter-spacing: 1px;
    border: none;
    line-height: 24px;
    vertical-align: top;
    color: #fff;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
}

.map-block {
    outline: red solid thin;
    width: auto;
    position: relative;
    margin-top: 40px;
}

.map {
    width: 100%;
}

.map-marker {
    outline: brown solid thin;
    position: absolute;
    top: 171px;
    left: 304px;
}

.contacts-container {
    outline: green solid thin;
    position: absolute;
    width: 305px;
    background-color: #fff;
    border-radius: 20px;
    top: 61px;
    right: 106px;
}

.contacts-wrapper {
    outline: purple solid thin;
    padding-left: 25px;
    padding-bottom: 42px;
}

.contacts-container .contacts-text {
    outline: brown solid thin;
    font-size: 14px;
    line-height: 20px;
    width: 157px;
    margin-top: 30px;
    margin-bottom: 0;
}

.contacts-adress {
    outline: red solid thin;
    width: 260px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 1px;
}

.contacts-note {
    outline: black solid thin;
    font-size: 14px;
    line-height: 20px;
    width: 175px;
    margin-bottom: 6px;
    margin-top: 18px;
}

.contacts-container .telephone {
    outline: brown solid thin;
    width: 260px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.comment {
    outline: yellow solid thin;
    font-size: 14px;
    line-height: 20px;
    width: 160px;
    margin-bottom: 35px;
    margin-top: 0;
}

.feedback {
    outline: green solid thin;
    padding: 9px 31px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 32px;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
}

.feedback:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: -7px;
    border-top: 1px solid #A9BBB1;
    padding-top: 18px;
    outline: purple solid thin;
}

.footer-social {
    outline: gold solid thin;
    display: flex;
    justify-content: space-around;
    outline: skyblue solid thin;
    width: 195px;
    padding-top: 12px;
    margin-left: 9px;
}

.footer-social a {
    font-size: 0;
}

.footer-social svg {
    fill: #E6EBE9;
    border: 2px solid #C2CEC7;
    border-radius: 50%;
    margin-top: 7px;
}

.footer-social svg:hover {
    fill: #fff;
    border-color: #DAE2DE;
}

.footer-social svg:active {
    fill: #E9E9E9;
    border-color: #DAE2DE;
}

.footer-menu {
    outline: pink solid thin;
    width: 338px;
    max-height: 50px;
    margin-left: -15px;
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-menu a {
    outline: yellow solid thin;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 5px 0px 0px 23px;
}

.footer-menu .active {
    font-weight: bold;
}

.footer-menu svg {
    position: absolute;
    padding: 5px 0px 0px 1px;
}

.footer-made-in {
    display: flex;
    margin-right: 2px;
    outline: yellow solid thin;
    flex-direction: column;
}

.footer-made-in svg {
    height: 40px;
    width: 105px;
}

.made-in-text {
    outline: blue solid thin;
    color: #DDE4E0;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}

.link-htmlacademy {
    text-decoration: none;
    color: #DDE4E0;
    border-bottom: 1px solid #B1C9BC;
} 